.A_content_wrapper{
    padding: 10px;
    padding-top: 60px;
    margin-left: 230px;
    background-color: #ecf0f5;
/*    height: 100%;*/
}
.A_content_wrapper .panel{
    width: 100%;
    height: 386px;
    border:1px solid #337ab7;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.A_panel_heading{
	color: #fff;
    background-color: #337ab7;
    width: 100%;
    height: 68px;
    position: relative;
}
.A_panel_title{
	margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-family: '宋体';
    position: absolute;
    top: 10px;
    left: 20px;
}
.A_panel_heading p{
	margin: 0 0 10px;
	position: absolute;
    top: 30px;
    left: 20px;
    font-size: 14px;
}
.A_panel_body{
   width: 100%;
   height: 286PX;
   margin-top: 15px;
}
.A_panel_body .user{
	padding-left: 10px;
	padding-top: 15px;
	font-weight: bold;
	font-size: 14px;
}
.A_panel_body .user input{
	display: block;
    width: 97%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.A_panel_body .email{
	padding-left: 10px;
	padding-top: 15px;
	font-weight: bold;
	font-size: 14px;
}
.A_panel_body .email input{
	display: block;
    width: 97%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.A_panel_body .pwd{
	padding-left: 10px;
	padding-top: 15px;
	font-weight: bold;
	font-size: 14px;
}
.A_panel_body .pwd input{
	display: block;
    width: 97%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.POSTS{
	display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: white;
    border: 1px solid #eeeeee;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}